div {
	&.nav-background {
		// position
		position: fixed;
		left: calc(50%  - 250px);
		top: -50px;
		// background
		width: 500px;
		height: 100px;
		background-color: black;
		border-radius: 50%;
		filter: blur(10px);
		opacity: .5;
	}
	&.home {
		// position
		position: fixed;
		left: calc(50%  - 25px);
		// size
		width: 50px;
		height: 50px;
		// background image
		background-image: url('../../assets/homeImage.png');
		background-size: 80% 80%;
		background-position: center center;
		background-repeat: no-repeat;
		// other
		cursor: pointer;
		// transitions
		transition: background-size .1s ease-in;		
		// on hover
		&:hover {
			background-size: 70% 70%;	
		}
		// on click
		&:active {
			background-size: 90% 90%;	
		}
	}
}