div {
	&.nav-background {
		position: relative;
		top: -50px;
		// background
		height: 100px;
		background-color: black;
		opacity: .5;
	}
	&.home {
		// position
		position: absolute;
		left: calc(50%  - 25px);
		top: 0px;
		// size
		width: 50px;
		height: 50px;
		// background image
		background-image: url('../../assets/homeImage.png');
		background-size: 80% 80%;
		background-position: center center;
		background-repeat: no-repeat;
		// other
		cursor: pointer;
		// transitions
		transition: background-size .1s ease-in;		
		// on hover
		&:hover {
			background-size: 70% 70%;	
		}
		// on click
		&:active {
			background-size: 90% 90%;	
		}
	}
}

p {
	position: absolute;
	top: 0;
	display: inline;
	font-size: 2em;
	line-height: 100%;
}

span {
	border-radius: 10px;
	background-color: #e0e0e0;
	padding: 5px;
	line-height: 50px;
	margin: 5px;
}