
<div class="wrapper" [@inOpacityScale]="'displayed'">	
	<div class="container-fluid">
		<div class="row">
			<!-- Short Description -->
			<div class="col-xs-12">
				<div class="description">
					<h3>Title: {{ performance.Performance_name }}</h3>
					<h3 *ngFor="let field of performance.info">{{field.key + ": "+ field.value}}</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h3>Sessions</h3>
				<div *ngFor="let session of this.performance.groupedSessions(); let id = index" class="sessionLink">
					<div class="day">{{ session.day | date:'MMM d' }}</div> 
					<select *ngIf="smallScreen()">
						<option *ngFor="let sess of session.sessions; let sid = index" class="time" (click)="onSessionSelected(id + sid)">{{ sess.date | date:'H:mm' }}</option>
					</select>
					<div *ngFor="let sess of session.sessions; let sid = index" class="time" (click)="onSessionSelected(id + sid)"><ng-container *ngIf="!smallScreen()">
					{{ sess.date | date:'H:mm' }}</ng-container></div>
				</div>
			</div>
		</div>
	</div>
</div>
