<div class="cont" *ngIf="performance$ | async as performance; else loading">
	<div class="bgimg" [ngStyle]="getBackground(performance)"></div>
	<div class="foreground" (click)="displayInfo()">
		<div class="perfInfo">
			<h1>
				{{ performance.Performance_name | uppercase }}
			</h1>
			<h2>{{ getDescription(performance) | uppercase }}</h2>
		</div>
	</div>
</div>
<ng-template #loading>
	<div class="bgimg" style="background: black"></div>
	<div class="foreground">
		<div class="perfInfo">
			<h2  style="color: #c0c0c0">Loading...
			</h2>
		</div>
	</div>
</ng-template> 