<div class="return" (click)="goBack()">Назад</div>

<div class="row" style="text-align: center; padding-right: 15px; padding-left: 15px;">
	<div>
		<h1> {{ performanceName | uppercase }} </h1>
	</div>
	<div>
		<h3> {{ session.date | date:'MMMM d, H:mm' }} </h3>
	</div>
</div>

<div style="display: table; width: 100%; height: 100%; z-index: 10; top: 0">
	<div class="vdiv">
		<div class="anotherContainer" style="overflow: scroll;"  mouseWheel (mouseWheelUp)="onScroll(0.1, $event)" (mouseWheelDown)="onScroll(-0.1, $event)" #scrollElement>
			<div style="display: table; width: 100%; height: 100%; z-index: 10; top: 0">
				<div class="vdiv">
					<div class="no-overflow"  [style.zoom]="zoomFactor">
						<div class="cont" [style.width]="((34*getLongestRow())+75)+'px'">
							<div class="rowT" *ngFor="let row of session.seats; let i = index" [style.width]="(34*getLongestRow()+75)+'px'">
								<hr class="invisible">
								<div class="rowInfo">{{ session.seats.length-i }}. ряд</div>
								<div *ngFor="let seat of row; let j = index" class="seat"
								[ngClass]="getClass(i, j)" (click)="onSeatSelected($event, i, j)">{{j + 1}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="showFields" *ngIf="seats.length" (click)="displayFields(true)" [@slideIn]="smallScreen() ? 'fromBottom' : 'fromRight'" style="z-index: 100;">
	Дальше
</div>
<div class="hider" *ngIf="fields" [@slideIn]="smallScreen() ? 'fromTop' : 'fromLeft'" (click)="displayFields(false)">
	<div class="vdiv">
		<p>Выбрать<br>дополнительные места</p>
	</div>
</div>
<div class="fileds" *ngIf="fields" style="z-index: 101;" [@slideIn]="smallScreen() ? 'fromBottom' : 'fromRight'">
	<app-fields [performanceName]="performanceName"	[sessionDate]="session.date"
	[seats]="seats" (seatCanceled)="cancelSeat($event)" (message)="displayMessage($event)"></app-fields>
</div>