.seat 
{
		// size
		width: 30px;
		height: 30px;
		// margin, padding
		padding: 5px;
		margin: 5px;
		// border
		border: 1px solid grey;
		border-radius: 5px;
		// other
		display: inline-block;
	}