// version 3
@import 'variables';
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
body {
	overflow: hidden;
}
*:focus {
    outline: none;
}
::-webkit-scrollbar
{
	width: 5px;
	height: 5px;
	background-color: transparent;
}
::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid black;
}
::-webkit-scrollbar-corner {
	display: none;
}